%div{:class => "listItem #{home.long_term? ? '' : 'not_unisex'} #{home.family? ? '' : 'individual'}", "data-id" => home.id}
  .listItemImage
    / image tag goes here
  .itemInfo
    .itemName= link_to_unless_current(home.name, home)
    .itemStreet="#{home.street}, #{home.city}, #{home.state}"
    - if home.rated?
      - rating_class_name = case RatingLevel.for_home(home)
      - when RatingLevel.green  then 'greenRating'
      - when RatingLevel.yellow then 'yellowRating'
      - when RatingLevel.red    then 'redRating'
      - else ''
      %div{:class => "itemRating #{rating_class_name}"}
        = t('home.rating.positive', percentage: home.rating_percentage.round)
    - else
      .itemRating= t('home.rating.unrated')

  .itemExtraInfo
    .itemDistance
      - if home.respond_to?(:distance)
        = home.distance.round(2)
        miles
    - if home.long_term?
      .unisexhome
        = image_tag "Unisexhome.png", {alt: "Long Term Home"}
    - if home.accessible?
      .ADAhome
        = image_tag "ADAhome.png", {alt: "Family Home"}
