%div{:class => "listItem #{home.long_term? ? '' : 'not_unisex'} #{home.family? ? '' : 'individual'}", "data-id" => home.id}
  .itemInfo
    .itemName= link_to_unless_current(home.name, home)
    .itemStreet="#{home.street}, #{home.city}, #{home.state}"

  .itemExtraInfo
    .itemDistance
      - if home.respond_to?(:distance)
        = home.distance.round(2)
        miles

