.listItem.showPageItem{"data-id" => @home.id}
  = render partial: 'homes/home', locals: { home: @home }
.showPageContent
  %p
    %strong #{t('restrooom.directions')}:
    = @home.directions
  %p
    %strong #{t('home.comments')}:
    = @home.comment
  %p= link_to t('home.contact.contactlisting'), contact_path(home_id: @home.id, home_name: @home.name)
  #map
    %div#mapArea{ data: { latitude: @home.latitude, longitude: @home.longitude } }
  %hr
  = render partial: 'layouts/disqus_tag', locals: { identifier: "home-#{@home.id}", title: @home.name, url: request.original_url }
